# Actor runtime endpoint override
DOCLING_SERVE_API_ENDPOINT=http://127.0.0.1:5001/v1alpha/convert/source

# Log key used in key-value store
DOCLING_ACTOR_LOG_KEY=DOCFORGE_LOG

# Output manifest key used in key-value store
DOCLING_ACTOR_MANIFEST_KEY=OUTPUT_MANIFEST
